div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #fff;
}

.left-content {
  width: 200px;
  height: 100%;
  box-shadow: 5px 0 5px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.right-content {
  flex: 1;
  height: 100%;
}

.add-tpl {
  padding: 10px 40px;
  color: #fff;
  cursor: pointer;
  background-color: skyblue;
  border-radius: 5px;
}
