.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.detail-section-active {
  visibility: visible;
}

.detail-header {
  padding: 5px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-operation {
  display: flex;
}

.detail-title {
  font-weight: 700;
}

.common-btn {
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.add-property-btn {
  background: #f2f2f2;
}

.gen-data-btn {
  background-color: #5cb85c;
  color: #fff;
}

.save-tpl-btn {
  color: #fff;
  background-color: #5bc0de;
}

.detail-logger {
  padding: 0 20px 10px 20px;
  border-bottom: 1px solid #f2f2f2;
}

.api-title {
  font-weight: 700;
}

.api-value {
  color: darkgray;
}

.detail-main {
  padding: 0 10px 10px 10px;
  width: 100%;
  min-height: 250px;
}

.property-table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  padding: 8px;
  width: 25%;
}

.property-table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  text-align: center;
  width: 25%;
}

.property-table > tbody > tr:nth-child(2n + 1) {
  background-color: #f9f9f9;
}

.delete-property-btn {
  color: #fff;
  background-color: #d9534f;
  background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
}
