div,
input,
form,
table,
label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
  max-width: 100%;
  background: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #fff;
  overflow: hidden;
  border-top: 1px solid #f2f2f2;
}

.left-content {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  background-color: #e8e8e8;
  border-right: #e8e8e8 solid 1px;
}

.right-content {
  flex: 1;
  height: 100%;
  position: relative;
}

.add-tpl {
  height: 40px;
  width: 160px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
  background-color: skyblue;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
  background-repeat: repeat-x;
  color: #333;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  user-select: none;
}

.common-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: (-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 5px gray;
  padding: 5px 30px;
  z-index: 111111;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.fade-in {
  opacity: 1;
}
