.tpl-tabs {
  width: 100%;
  background-color: #e8e8e8;
  height: 30px;
  display: flex;
}

.tpl-tab {
  width: 100px;
  height: 100%;
  background-color: #f4f4f2;
  text-align: center;
  line-height: 30px;
  border-right: 1px solid #e8e8e8;
  cursor: pointer;
}

.tpl-tab-name {
  font-size: 12px;
}

.tpl-tab-active,
.tpl-tab:hover {
  background-color: #fff;
}
